<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <header id="main-header" class="main-header" role="banner">
			<section class="main-header__mugshot">
				<a href="http://blog.csdn.net/tangxiaolang101">
					<img src="../images/icon.png" />
				</a>
			</section>
			<nav role="navigation" id="main-navigation" class="main-navigation">
				<ul role="menu">
					<li role="menuitem"><a href="/">About</a></li>
					<li role="menuitem"><a href="/">Portfolio</a></li>
					<li role="menuitem"><a href="/">Blog</a></li>
					<li role="menuitem"><a href="/">Photos</a></li>
				</ul>
			</nav>
			<footer class="main-footer" id="main-footer" role="contentinfo">
				This site was designed and built by XiaoLang.
			</footer>
		</header>
		<div class="mob-header visuallyhidden--desk">
			<button title="Toggle Menu" class="main-navigation__button" id="main-navigation__button">
    	    <span></span>
    	    <span></span>
    	    <span></span>
    		</button>
		</div>
		<main class="body" id="body">
			<section id="header-img" class="header-img">
				<div class="wrap">
					<p class="kilo flush">Hi！这里是小狼驿站.</p>
					<p class="beta flush">I like making <strong>nice things</strong> on the web.</p>
				</div>
			</section>
			<section class="container">
				<h1 class="beta underline">About Me</h1>
				<p>我是一名菜鸟Web前端开发工程师，喜欢捣腾新技术，在开发的道路上努力的飞。做自己喜欢的东西！！</p>
				<p>这个网站是用 <a href="https://nodejs.org/en/">Node</a>, 和 <a href="http://www.expressjs.com.cn/">Express</a> 框架制作的.</p>
			</section>
		</main>
  </body>
  <script src="../javascripts/app.js" type="text/javascript" charset="utf-8"></script>
</html>
